i {
    font-size: 50px;
    color: white;
    display: inline;
    padding: 5px;
}

.social-links {
    display: flex;
    justify-content: center;
}

h5,
p {
    text-align: center;
    color: whitesmoke;
}