<section>
    <div class="socials">
        <div class="container-fluid">
            <h5>SOCIAL NETWORKS</h5>
            <div class="row social-links">
                <i class="fa fa-twitter"></i>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-pinterest"></i>
            </div>
            <div class="emailAndNumber">
                <p>Mobile: +254 718 772765</p>
                <p>Email: Johnngei2@gmail.com</p>
            </div>
        </div>
    </div>
</section>