section {
    background: rgba(5, 5, 5, 0.9)
}

.contacts {
    text-align: center;
    padding: 50px;
}

img {
    width: 100%;
}

.card {
    background: transparent;
    color: whitesmoke;
}

h4 {
    text-align: center;
}