<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="about">

                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error modi deserunt doloremque accusamus aliquam eius. Eveniet placeat, beatae facere distinctio maiores ipsum corporis asperiores. Consequuntur inventore iure illo reiciendis
                            suscipit. <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, maiores! Sit harum vero fugiat voluptas vitae autem voluptatibus, magni explicabo quo totam perspiciatis exercitationem voluptate reiciendis aut
                            in aliquam. Exercitationem.
                        </p>
                    </div>
                </div>
                <div class="details">
                    <div>
                        <ul>
                            <li><span>Date of Birth:</span> 05/08/1993</li>
                            <li><span>Nationality:</span> Kenyan</li>
                            <li><span>Profession:</span> Software Developer</li>
                            <li><span>Phone number:</span> +254 718 772765</li>
                            <li><span>Email:</span> johnmutuku628@gmail.com</li>
                        </ul>
                    </div>
                    <div class="certifications">
                        <ul>
                            <span>Certifications:</span>
                            <li>
                                <span>Utumishi Academy</span>
                                <p>Kenya Certificate of Secondary Education</p>
                            </li>
                            <li>
                                <span>ShangTao Media College</span>
                                <p>Certificate in Animation and 3D Modelling</p>
                            </li>
                            <li>
                                <span>Moringa School</span>
                                <p>Software Engineering Immersive, Android Specialization</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>