<div class="sidebar">
    <div class="sidebar-header">

    </div>
    <div class="sidebar-body">
        <div class="profile m-4">
            <img src="assets/images/profile.jpg" alt="">
            <h4 class="my-3">John Mutuku Ngei</h4>
            <div class="bio">
                <p> Am a software developer driven by passion to learn possibilities software engineering presents while developing apps that solve problems and challenges faced by our world.
                </p>
            </div>
        </div>
        <ul class="list-unstyled sidebar-nav">
            <li class="active card">
                <a routerLink="/all" routerLinkActive="active">View All</a>
            </li>
            <li class="card"><a href="#frameworks" data-toggle="collapse" aria-expanded="false">Frameworks</a></li>
            <li class="card">
                <div class="collapse inner-list" id="frameworks">
                    <ul class="list-unstyled">
                        <li class="card"><a routerLink="/android" routerLinkActive="active">Android</a></li>
                        <li class="card"><a routerLink="/angular" routerLinkActive="active">Angular</a></li>
                        <li class="card"><a routerLink="/javafx" routerLinkActive="active">JavaFx</a></li>
                        <li class="card"><a routerLink="/python" routerLinkActive="active">Django</a></li>
                    </ul>
                </div>
            </li>
            <li class="card"><a href="#languages" data-toggle="collapse" aria-expanded="false">Languages</a></li>
            <li class="card">
                <ul class="list-unstyled collapse inner-list" id="languages">
                    <li class="card"><a routerLink="/java" routerLinkActive="active">Java</a></li>
                    <li class="card"><a routerLink="/kotlin" routerLinkActive="active">Kotlin</a></li>
                    <li class="card"><a routerLink="/typescript" routerLinkActive="active">TypeScript</a></li>
                    <li class="card"><a routerLink="/javascript" routerLinkActive="active">JavaScript</a></li>
                    <li class="card"><a routerLink="/python" routerLinkActive="active">Python</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>