img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin-top: 400px;
}

.image {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name,
#email {
    text-align: center;
    color: whitesmoke;
}

#name {
    font-weight: bold;
    font-size: 60px;
    margin-top: 50px;
}

#bio {
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
}

.about {
    text-align: center;
    color: whitesmoke;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 400px;
    padding-bottom: 100px;
}